@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    html {
        @apply scroll-smooth scroll-pt-14 cursor-[url("/images/cursore")];
    }

    body {
        @apply antialiased bg-gray-100
        dark:bg-slate-800;
    }

    p, ul, ol, label {
        @apply text-gray-800 text-sm
        md:text-base
        dark:text-gray-400;
    }

    /*Шапка*/
    header {
        @apply sticky top-0 py-1 mb border-b-2 border-gray-200 bg-white text-gray-700 z-50
        dark:text-gray-500 dark:bg-slate-900 dark:border-slate-700;
    }
    header .header {
        @apply flex justify-between items-center flex-wrap mx-auto max-w-screen-xl;
    }
    header .logo {
        @apply flex items-center ml;
    }
    header .logo img {
        @apply mr-3 h-7;
    }
    header h1 {
        @apply self-center text-gray-700 dark:text-gray-200 font-semibold text-base;
    }
    header nav {
        @apply hidden
        lg:block;
    }
    header nav ul {
        @apply flex flex-row font-medium space-x-6 text-sm;
    }
    .active-link {
        @apply text-rose-700 dark:text-rose-400;
    }

    /*Меню-бургер*/
    .menu-burger {
        @apply hidden mb sticky top-12 z-50 bg-gray-100
        dark:bg-slate-800;
    }
    .menu-burger._active {
        @apply block lg:hidden;
    }
    .menu-burger ul {
        @apply flex flex-col text-sm font-medium;
    }
    .menu-burger li {
        @apply block py-2 px text-gray-700 border-b border-gray-300
        dark:text-gray-400 dark:border-gray-700;
    }

    /*Боковая панель*/
    aside.sidebar {
        @apply w-full sticky top-16 hidden gap grid-cols-1 overflow-y-auto max-h-[calc(100vh-90px)]
        md:grid md:grid-cols-1 md:flex-[0_0_18.75rem];
    }
    aside.sidebar>nav>ul>li {
        @apply py-1;
    }
    aside.sidebar>nav>ul>li>a {
        @apply pl-4 border-l-4 border-transparent;
    }
    aside.sidebar>nav>ul>li>a:hover {
        @apply border-rose-700 text-rose-700
        dark:border-rose-400 dark:text-rose-400;
    }
    aside.sidebar>nav>ul>li.sidebar-nav__active>a {
        @apply border-l-4 border-rose-700 text-rose-700 transition-none duration-200
        dark:border-rose-400 dark:text-rose-400;
    }

    /*Кнопка с фоном*/
    .btn-bg {
        @apply px-3 py-1.5 font-medium text-xs rounded-lg text-gray-200 bg-gradient-to-br from-rose-400 to-rose-700
        sm:px-4 sm:py-2 sm:text-sm
        md:px-5 md:py-2.5
        hover:from-rose-700 hover:to-rose-700;
    }

    /*Кнопка без фона*/
    .btn-nobg {
        @apply hover:bg-gray-100 rounded-lg p-2.5 block text-gray-500 text-sm
        dark:text-gray-400 dark:hover:bg-gray-700;
    }

    /*Текстовая ссылка*/
    .link {
        @apply hover:text-rose-700 dark:hover:text-rose-400;
    }

    /*Компонент-блок*/
    .component-block {
        @apply p rounded-lg bg-white
        dark:bg-slate-900;
    }

    .component-block__title {
        @apply text-gray-900 text-base font-semibold
        md:text-lg
        dark:text-gray-200;
    }

    /*Отступы*/
    .m {
        @apply m-2 sm:m-2.5 md:m-3 lg:m-4;
    }

    .mx {
        @apply mx-2 sm:mx-2.5 md:mx-3 lg:mx-4;
    }

    .my {
        @apply my-2 sm:my-2.5 md:my-3 lg:my-4;
    }

    .mr {
        @apply mr-2 sm:mr-2.5 md:mr-3 lg:mr-4;
    }

    .ml {
        @apply ml-2 sm:ml-2.5 md:ml-3 lg:ml-4;
    }

    .mb {
        @apply mb-2 sm:mb-2.5 md:mb-3 lg:mb-4;
    }

    .mt {
        @apply mt-2 sm:mt-2.5 md:mt-3 lg:mt-4;
    }

    .p {
        @apply p-2 sm:p-2.5 md:p-3 lg:p-4;
    }

    .px {
        @apply px-2 sm:px-2.5 md:px-3 lg:px-4;
    }

    .py {
        @apply py-2 sm:py-2.5 md:py-3 lg:py-4;
    }

    .pr {
        @apply pr-2 sm:pr-2.5 md:pr-3 lg:pr-4;
    }

    .pl {
        @apply pl-2 sm:pl-2.5 md:pl-3 lg:pl-4;
    }

    .pb {
        @apply pb-2 sm:pb-2.5 md:pb-3 lg:pb-4;
    }

    .pt {
        @apply pt-2 sm:pt-2.5 md:pt-3 lg:pt-4;
    }

    .gap {
        @apply gap-2 sm:gap-2.5 md:gap-3 lg:gap-4;
    }

    /*другие классы*/
    .answer-line {
        @apply flex justify-between w-full max-[500px]:flex-col max-[500px]:w-full;
    }
    .answer {
        @apply flex justify-start items-center min-w-[10rem] pl-5 w-72 h-14 bg-amber-100 rounded-2xl max-[500px]:w-full;
    }
    .answer-text {
        @apply ml-3 mr-3 text-left;
    }
    .first-answer {
        @apply mr-4 max-[500px]:ml-0 max-[500px]:mr-0 max-[500px]:mt-3;
    }
    .two-answer {
        @apply ml-4 max-[500px]:ml-0 max-[500px]:mr-0 max-[500px]:mt-3;
    }
}